/HelloWorld.class
/Palindrome.class
/If_Else.class
/VatScriptRegeneration.class
/Pb88620.class
/Pb88620_pub.class
/DoubleNumbers.class
/Functions.class
/Factorial.class
/TablesOfNumber.class
/EvenorOdd.class
/PrimeNumber.class
/ReverseArray.class
/SumOfArrayElements.class
